@import '~bootstrap/dist/css/bootstrap.min.css';

.btcBlue {
  color: #6699f6;
}

.borderBlue {
  border: 2px solid blue !important;
}

.borderBlueBottom {
  border-bottom: 2px solid blue !important;
}